---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?key=<KEY>&printType=books&projection=lite&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 400,
            "message": "Missing query.",
            "errors": [
              {
                "message": "Missing query.",
                "domain": "global",
                "reason": "queryRequired",
                "location": "q",
                "locationType": "parameter"
              }
            ]
          }
        }
  recorded_at: Sun, 13 Dec 2020 22:59:21 GMT
recorded_with: VCR 6.0.0
